a {
    text-decoration: none;
}

.faded {
    color: #fff3f3b0;
}
a:hover {
    text-decoration:underline;
}
.horiScroll {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    height: 400px;
    width: 80%;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
    /* border: 1px dashed white; */
}

.actionImg {
    height: 100%;
    padding-left: 10px;
    border-radius: 25px;
}
.horiScroll:last-child {
    border-radius: 0px;
}
p {
    margin-left: auto;
    margin-right: auto;
    width: 80%;

}
.main {
    width: 100%;
    align-items: center;

}
.auto-resizable-iframe {
    max-width: 90%;
    margin: 0px auto;
  }
  
  .auto-resizable-iframe > div {
    position: relative;
    padding-bottom: 56.25%;
    height: 0px;
  }
  
  .auto-resizable-iframe iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }