.projectImg {
    width: 100%;
}

.row {
    display: flex;
    border: 1px dashed red;
}
.project {
    flex: 1;
    border: 1px dashed white;
    margin-right: 20px;
}
.project:last-child {
    margin-right: 0px;
} 