.projectImg {
    object-fit: 20%;
}
.projectCont {
    display: flex;
    /* border: 1px dashed red;  */
    border-radius: 25px;
    background: #cde0e191;;
    padding: 3%;
    height: 150px;
    margin-bottom: 3%;
    
}
.projectTitle {
    font-size: 20px;
    color: #5c7374;

}
.break {
    height: 7%;
}
.projectInfo {
    padding-left: 3%;
    text-align: left;
    color: #5c7374;

}
.main {
    width: 50%;
}
