.projectImg {
    width: 100%;
}

.row {
    display: flex;
    /* border: 1px dashed red; */
}
.project {
    flex: 1;
    margin-right: 20px;
    /* border: 1px dashed white; */
}
.project:last-child {
    margin-right: 0px;
} 