@font-face {
    font-family: 'P22Mackinac-Medium';
    src: url("https://dharmikspatel.github.io/assets/P22Mackinac-Medium_6.otf");
}
@font-face {
    font-family: 'Avenir-Normal';
    src: url("https://dharmikspatel.github.io/assets/AvenirNextLTPro-Regular.otf");
}
.avatar {
    position: relative;
    width: 40%;
    margin: 0 auto;
}
.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
.avatar:hover .overlay {
    opacity: 1;
  }

button {
    border-radius: 10em;
    font-size: 14pt;
    font-family: 'P22Mackinac-Medium';
    width: 11em;
    height: 1.65em;
    border: 0;
    color: #5c7374;
    margin-bottom: .3em;

}
.b1{
    background-color: #cde0e1;
}
.b2{
    background-color: #fff3f3;
}

body {
    background-color: #87aaaa;  
}
p{
    font-size: 14pt;
    font-family: 'Avenir-Normal';
    color: #fff3f3;
}
h1{
    font-size: 30pt;
    font-family: 'P22Mackinac-Medium';
    font-weight: normal;
    color: #faeee0;
}
h2{
    font-size: 20pt;
    font-family: 'P22Mackinac-Medium';
    font-weight: normal;
    color: #faeee0;
}
.main {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    text-align: center;
    
}
.avatarParent{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px dashed wheat;
    text-align: center;
}


